body {
display: flex;
flex-direction: column;
background-color: #002539;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
  z-index: 5;
}
