body {
display: flex;
flex-direction: column;
background-color: #002539;

}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
  z-index: 5;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#002539;
  padding: 20px;
  height: 80px;
  font-family: 'Sono', sans-serif;
  border-bottom: 2px solid white;
}

.logo img {
  height: 55px;
  cursor: pointer;
}

.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin-right: 20px;

}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family:"Sono";
  transition: color 0.3s ease;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

.main-nav li a:hover {
  color: grey;
  border-bottom: 1px solid white;
}

.header-buttons {
  display: flex;
}

.button1 {
   padding: 10px 50px;
   margin-right: 10px;
   border: none;
   border-radius: 30px;
   background-color: #002539;
   color: white;
   font-size: 20px;
   border: 2px solid white;
   font-family: "Sono";
   transition: background-color 0.3s ease-in-out;
}
.button1:hover {
  background-color: #002539;
  border-radius: 30px;
  border-color: #002539;
  color: #c33e75;
}

.main h1 {
color: white;
margin: 0;
font-family: "Dancing Script";
font-size: 49px;

  }

  .main{
  text-align: center;
  margin-top: 30px;
    }


    .container {
    display: flex;
    background-color: white;
    padding: 20px;
}

.text-box {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
